{% extends 'base.html.twig' %}

{% block title %} Ajouter un etudiant {% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-12">
<h1>Ajouter un etudiant</h1
{% include 'etudiant/_form.html.twig' %}
</div>
</div>
</div>
 
{% endblock %}